{% extends 'header.html' %}
{% load static %}

{% block head %}
    <style>
        .tx{border: 1px solid rgb(236,130,9);}
        .bg-img{
            background: url("{% static 'images/header.JPEG'%}"); height: 700px; background-size: cover;
        }
        .trans{
            background: rgba(10, 8, 69,0.5);
        }
        select{
            border: 2px solid rgb(189, 104, 26);
        }
        .one{
            border: 2px solid rgb(236,130,9);color:white
        }
        label{
            color:rgb(236, 130, 9)
        }
        .img1, .img2, .img3, .img4, .img5, .img6{
            height: 250px;  
        }
        .img1{
            background: url("{% static 'images/img1.jpeg'%}"); background-size: cover;
        }
        .img2{
            background: url("{% static 'images/img2.jpg'%}"); background-size: cover;
        }
        .img3{
            background: url("{% static 'images/img3.jpeg'%}"); background-size: cover;
        }
        .img4{
            background: url("{% static 'images/img4.jpg'%}"); background-size: cover;  
        }
        .img5{
            background: url("{% static 'images/img5.jpeg'%}"); background-size: cover;  
        }
        .img6{
            background: url("{% static 'images/img6.jpg'%}"); background-size: cover;  
        }
        .img1:hover{
            transform: scale(1.1); transition: 1s;
        }
        .img2:hover{
            transform: scale(1.1); transition: 1s;
        }
        .img3:hover{
            transform: scale(1.1); transition: 1s;
        }
        .img4:hover{
            transform: scale(1.1); transition: 1s;
        }
        .img5:hover{
            transform: scale(1.1); transition: 1s;
        }
        .img6:hover{
            transform: scale(1.1); transition: 1s;
        }
        .main{
            overflow: hidden;
        }
        small{
            color: gray;
        }
        .mid1-img{
            background: url("{% static 'images/contact.JPEG'%}"); height: 700px; background-size: cover;
        }
        .mid2-img{
            background: url("{% static 'images/header.JPEG'%}");  background-size: cover;
        }
        .trans1{
            background: rgba(10, 8, 69,0.5);
        }
        .agent1{
            background: url("{% static 'images/agent1.jpg'%}"); height: 300px; background-size: cover;
        }
        .agent2{
            background: url("{% static 'images/agent2.jpg'%}"); height: 300px; background-size: cover;
        }
        .agent3{
            background: url("{% static 'images/agent3.png'%}"); height: 300px; background-size: cover;
        }
        .agent4{
            background: url("{% static 'images/agent4.jpg'%}"); height: 300px; background-size: cover;
        }
        .agent1:hover{
            transform: scale(1.1); transition: 1s;
        }
        .agent2:hover{
            transform: scale(1.1); transition: 1s;
        }
        .agent3:hover{
            transform: scale(1.1); transition: 1s;
        }
        .agent4:hover{
            transform: scale(1.1); transition: 1s;
        }
    </style>
    {% endblock %}
</head>
{% block myblock %}
    
    <section>
        <div class="container-fluid">
            <div class="row bg-img">
                <div class="col-md-12 text-center text-white trans">
                    <h1 style="font-size: 50px; margin-top:120px;">Find your best Property here!</h1>
                    <h5 class="mt-5">Esteem spirit temper too say adieus who direct esteem.</h5>
                </div>
                <div class="col-md-12 trans">
            <!-- </div>
            <div class="row justify-content-center mb-5"> -->
                <div style="background-color:rgba(10, 17, 48, 0.5);">
                    <div class="col-md-12">
                        <form action="{% url 'all_property' %}">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="">Location</label>
                                        <input type="text" class="form-control text-light bg-transparent tx" name="cty" placeholder="Search by City">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Property</label>
                                        <input type="text" class="form-control text-light bg-transparent tx" name="qry" placeholder="Search by Name/Category">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Bed Room</label>
                                        <input type="number" class="form-control text-light bg-transparent tx" name="" placeholder="number of bed">       
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Bath Room</label>
                                        <input type="number" class="form-control text-light bg-transparent tx" name="" placeholder="number of bathroom">
                                    </div>
                                <button class="btn btn-block btn-lg text-white my-4"><i class="fas fa-search bg-warning px-5 py-2 rounded"></i></button>  
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="my-5">Popular Properties</h1>
                </div>
                <div class="col-md-4">
                    <div class="card my-3 shadow shadow-lg">
                        <div class="main">
                        <div class="card-header img1">
                            <button class="btn btn-secondary rounded-pill mt-3">For Sale</button>
                        </div>
                        </div>
                        <div class="card-body">
                            <h5>Comfortable Apartment in Palace</h5>
                            <small><span><i class="fas fa-map-marker-alt"></i></span> Popular Properties</small><br>
                            <button class="btn btn-success rounded-pill mt-3">From $20k</button>
                        </div>
                        <div class="card-footer">
                            <em>1200 Sq. Ft. 2 Bedrooms 2 Bathrooms</em>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'property_detail' %}?pid=11" class="btn btn-success btn-block">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card my-3 shadow shadow-lg">
                        <div class="main">
                        <div class="card-header img2">
                            <button class="btn btn-secondary rounded-pill mt-3">For Sale</button>
                        </div>
                        </div>
                        <div class="card-body">
                            <h5>Comfortable Apartment in Palace</h5>
                            <small><span><i class="fas fa-map-marker-alt"></i></span> Popular Properties</small><br>
                            <button class="btn btn-success rounded-pill mt-3">From $20k</button>
                        </div>
                        <div class="card-footer">
                            <em>1200 Sq. Ft. 2 Bedrooms 2 Bathrooms</em>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'property_detail' %}?pid=12" class="btn btn-success btn-block">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card my-3 shadow shadow-lg">
                        <div class="main">
                        <div class="card-header img3">
                            <button class="btn btn-secondary rounded-pill mt-3">For Rent</button>
                        </div>
                        </div>
                        <div class="card-body">
                            <h5>Comfortable Apartment in Palace</h5>
                            <small><span><i class="fas fa-map-marker-alt"></i></span> Popular Properties</small><br>
                            <button class="btn btn-success rounded-pill mt-3">From $20k</button>
                        </div>
                        <div class="card-footer">
                            <em>1200 Sq. Ft. 2 Bedrooms 2 Bathrooms</em>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'property_detail' %}?pid=13" class="btn btn-success btn-block">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card my-3 shadow shadow-lg">
                        <div class="main">
                        <div class="card-header img4">
                            <button class="btn btn-secondary rounded-pill mt-3">For Sale</button>
                        </div>
                        </div>
                        <div class="card-body">
                            <h5>Comfortable Apartment in Palace</h5>
                            <small><span><i class="fas fa-map-marker-alt"></i></span> Popular Properties</small><br>
                            <button class="btn btn-success rounded-pill mt-3">From $20k</button>
                        </div>
                        <div class="card-footer">
                            <em>1200 Sq. Ft. 2 Bedrooms 2 Bathrooms</em>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'property_detail' %}?pid=10" class="btn btn-success btn-block">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card my-3 shadow shadow-lg">
                        <div class="main">
                        <div class="card-header img5">
                            <button class="btn btn-secondary rounded-pill mt-3">For Rent</button>
                        </div>
                        </div>
                        <div class="card-body">
                            <h5>Comfortable Apartment in Palace</h5>
                            <small><span><i class="fas fa-map-marker-alt"></i></span> Popular Properties</small><br>
                            <button class="btn btn-success rounded-pill mt-3">From $20k</button>
                        </div>
                        <div class="card-footer">
                            <em>1200 Sq. Ft. 2 Bedrooms 2 Bathrooms</em>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'property_detail' %}?pid=14" class="btn btn-success btn-block">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card my-3 shadow shadow-lg">
                        <div class="main">
                        <div class="card-header img6">
                            <button class="btn btn-secondary rounded-pill mt-3">For Sale</button>
                        </div>
                        </div>
                        <div class="card-body">
                            <h5>Comfortable Apartment in Palace</h5>
                            <small><span><i class="fas fa-map-marker-alt"></i></span> Popular Properties</small><br>
                            <button class="btn btn-success rounded-pill mt-3">From $20k</button>
                        </div>
                        <div class="card-footer">
                            <em>1200 Sq. Ft. 2 Bedrooms 2 Bathrooms</em>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'property_detail' %}?pid=15" class="btn btn-success btn-block">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <a href="{% url 'all_property' %}" class="btn btn-lg btn-outline-danger rounded-pill my-5">More Properties</a>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-5">
            <div class="row mid1-img">
                <div class="col-md-6 mt-5 ml-5 pt-5">
                    <button class="btn btn-success mb-3" style="position: relative; top: 30px; left: 40px; z-index:9999">For Sale</button>
                    <div class="card">
                        <div class="card-header">
                            <h1 class="mt-4">Blue Heaven Modern Home</h1>
                            <p class="text-secondary mt-3"><span><i class="fas fa-map-marker-alt"></i></span> Popular Properties</p><br>
                        </div>
                        <div class="card-body">
                            <h5>1200 Sq. Ft. 2 Bedrooms 2 Bathrooms</h5>
                            <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero possimus fugit facilis magni recusandae sunt, dolorem distinctio voluptates numquam quae ipsa dolor minus tenetur unde necessitatibus debitis maxime, a temporibus?</p>
                            <div class="row ">
                                <div class="col-md-6">
                                    <h2 class="text-danger">&#8377; 4500000</h2>
                                </div>
                                <div class="col-md-6 text-center">
                                    <a href="{% url 'property_detail' %}?pid=9" class="btn btn-outline-success rounded-pill">View Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-5">
            <div class="row" style="background-image:url({% static 'images/laptop1.JPEG'%}); background-size: 100% 100%;">
                <div class="col-md-12 p-5">
                    <div class="carousel slide" data-ride="carousel" id="mycar">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="col-md-12 px-0 text-center" style="margin-bottom: 100px;">
                                    <h1 class="text-white" style="margin-top: 30px; margin-bottom: 30px; font-size: 60px;"><i class="fas fa-quote-right"></i></h1>
                                    <p class="text-light mr-5 ml-5" style="font-size: 20px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Enim quis atque ut quaerat dolore impedit, sapiente at modi eaque porro recusandae,
                                    natus omnis iste?Lorem ipsum dolor sit amet.natus omnis iste?Lorem ipsum dolor sit amet.</p>
                                    <img src="images/carousel.jpg" height="50px" width="50px" style="border-radius: 50%;" alt="">  
                                    <h5 class="text-light mt-3">Robert Thomson</h5>
                                    <p class="text-white">Business Owner</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-md-12 px-0 text-center" style="margin-bottom: 100px;">
                                    <h1 class="text-white" style="margin-top: 30px; margin-bottom: 30px; font-size: 60px;"><i class="fas fa-quote-right"></i></h1>
                                    <p class="text-light mr-5 ml-5" style="font-size: 20px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Enim quis atque ut quaerat dolore impedit, sapiente at modi eaque porro recusandae,
                                    natus omnis iste?Lorem ipsum dolor sit amet.natus omnis iste?Lorem ipsum dolor sit amet.</p>
                                    <img src="images/carousel.jpg" height="50px" width="50px" style="border-radius: 50%;" alt="">  
                                    <h5 class="text-light mt-3">Robert Thomson</h5>
                                    <p class="text-white">Business Owner</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-md-12 px-0 text-center" style="margin-bottom: 100px;">
                                    <h1 class="text-white" style="margin-top: 30px; margin-bottom: 30px; font-size: 60px;"><i class="fas fa-quote-right"></i></h1>
                                    <p class="text-light mr-5 ml-5" style="font-size: 20px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Enim quis atque ut quaerat dolore impedit, sapiente at modi eaque porro recusandae,
                                    natus omnis iste?Lorem ipsum dolor sit amet.natus omnis iste?Lorem ipsum dolor sit amet.</p>
                                    <img src="images/carousel.jpg" height="50px" width="50px" style="border-radius: 50%;" alt="ImageNot found">  
                                    <h5 class="text-light mt-3">Robert Thomson</h5>
                                    <p class="text-white">Business Owner</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#mycar" class="carousel-control-prev" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a href="#mycar" class="carousel-control-next" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="my-5 pb-4">Our Agents</h1>
                </div>
                <div class="col-md-3 text-center">
                    <div class="main">
                    <div class="card agent1"></div>
                    </div>
                    <h4 class="mt-3">Milani Mou</h4>
                    <p class="text-secondary">(Business Agent)</p>    
                </div>
                <div class="col-md-3 text-center">
                    <div class="main">
                    <div class="card agent2"></div>
                    </div>
                    <h4 class="mt-3">Lorem Ipsum</h4>
                    <p class="text-secondary">(Business Agent)</p>
                </div>
                <div class="col-md-3 text-center">
                    <div class="main">
                    <div class="card agent3"></div>
                    </div>
                    <h4 class="mt-3">Dalim Karma</h4>
                    <p class="text-secondary">(Business Agent)</p>
                </div>
                <div class="col-md-3 text-center">
                    <div class="main">
                    <div class="card agent4"></div>
                    </div>
                    <h4 class="mt-3">Halim Yoka</h4>
                    <p class="text-secondary">(Business Agent)</p>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-5 p-0">
            <div class="row mid2-img trsans1">
                <div class="col-md-6 text-white trans">
                    <h1 class="my-5 py-4 pl-3">Add your Propery for Sale</h1>
                </div>
                <div class="col-md-3 text-white text-center trans">
                    <h5 class="my-5 py-5">+10 637 367 4567</h5>
                </div>
                <div class="col-md-3 text-white text-center trans pt-5">
                    <button class="btn btn-outline-light rounded-pill my-5">Add Property</button>
                </div>
            </div>
        </div>
    </section>
    {% if status %}
    <script>
        alert("{{status}}")
    </script>
    {% endif %}
{% endblock %}