{% extends "header.html" %}
{% load static %}
{% block myblock %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 mx-auto p-2 text-center my-5 py-5 p-5" style="box-shadow: 0px 0px 10px black;">
                <img src="{% static 'images/success.gif' %}" height="300" width="300">
                <br>
                <h1 class="alert alert-success">PAYMENT SUCCESSFULL</h1>
                <div class="my-3">
                    <a href="{% url 'all_property' %}" class="btn btn-success">Continue Shopping</a>
                    <a href="{% url 'customer_dashboard' %}" class="btn btn-primary">Go To Dashboard</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}