{% extends "dashboard_base.html" %}
{% block head %}
<style>
.bg-img{
    background:url("/static/images/cover.JPEG")
}
</style>
{% endblock %}
{% block dashboard %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 bg-img py-5 text-center text-light">
                <h1>Dashboard &gt; Order History</h1>
            </div>
            <div class="col-md-12 alert alert-primary">
                {% for i in order_history %}
                    <div class="card my-2">
                        <div class="card-header">
                            <strong class="float-left">Order ID: {{i.order_id}}</strong>
                            <em class="float-right">Processed on: {{i.date}}</em>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered table-hover table-striped">
                            {% for j in i.properties %}
                                <tr>
                                    <td>
                                        <img src="/media/{{j.property_images}}" style="height: 100px; width: 200px;">
                                    </td>
                                    <td><h4>{{j.property_name}}</h4></td>
                                    <td>&#8377;{{j.sale_price}}</td>
                                    <td><a href="{% url 'property_detail' %}?pid={{j.id}}" target="_blank" class="btn btn-success"><i class="fa fa-eye"></i> View</a></td>
                                </tr>
                            {% endfor %}
                           </table>
                        </div>
                        <div class="footer">
                            <table class="table">
                                <tr>
                                    <th>INVOICE ID</th>
                                    <td>{{i.invoice}}</td>
                                    <th>STATUS</th>
                                    <td>
                                        {% if i.status %}
                                            <button class="btn btn-success btn-block"><i class="fa fa-check"></i> Success</button>
                                        {% else %}
                                            <button class="btn btn-danger btn-block">&times; Pending</button>
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}